tr{
     width: 100vw;
     display: grid;
     grid-template-columns: 2fr 1fr 1fr 1fr;
     padding: 5px 20px;
     align-items: center;
     margin: 20px 0px;
     color: black;

}
.cource{
     width: max-content;
     display: flex;
     gap: 20px;
}
.image{
     width: 80px;
}
.image img{
     width: 100%;
}
.task2 td{
     font-size: 20px;
}
@media (max-width:991px){

     tr{
          grid-template-columns: 2fr 1fr;
          row-gap: 20px;
     }
}
@media (max-width:767px){

     tr{
          grid-template-columns: 1fr;
     }
}